DATABASE_URL=postgres://get-this-string-from-GCP
GS_BUCKET_NAME=project-name.appspot.com
SECRET_KEY=doesnt-matter-what-this-is
GC_NOTIFY_API_KEY=just-leave-this-here
GC_NOTIFY_TEMPLATE_ID=just-leave-this-here
POWER_AUTOMATE_URL=https://an-azure-url-with-token.com
MAGICLINK_METHOD=power_automate
ALLOWED_EMAIL_DOMAINS=phac-aspc.gc.ca

# For the local .env file, uncomment the following line:
# USE_CLOUD_SQL_AUTH_PROXY=True
